* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: new-spirit, serif;
    font-weight: 500;
    font-style: normal;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: none none solid none;
    border-width: 3px;
    border-color: #6ea6dd;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 10vh;
    background-color: #4c76a0;
}

#menu-izda {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

#menu-izda img {
    height: auto;
}

#menu-dcha {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: center;
    font-weight: 300;
    z-index: 2;
}

#menu-dcha ul li {
    display: inline-block;
}

#menu-dcha ul {
    list-style-type: none;
}

#collapsibleNavbar {
    color: #ffffff;
    width: max-content;
}

header button {
    width: auto;
    background-color: #6ea6dd;
    border-radius: 20px;
    border-color: #6ea6dd;
    padding: 8px;
    margin-left: 6px;
    font-size: 10pt;
    color: aliceblue;
}

article {
    border-style: none none solid none;
    border-width: 3px;
    border-color: #6ea6dd;
}

#left1 {
    background-color: #6ea6dd;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#left1 img {
    width: auto;
    height: auto;
    max-height: 60vh;
    align-self: center;
}

#right1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    Color: #4c76a0;
    padding-top: 6%;
    padding-bottom: 6%;    
    padding-left: 6vw;
}

#right1 p {
    padding-top: 1.2vw;
}

#right1 button {
    width: 60vmin;
    background-color: #4c76a0;
    border-radius: 15px;
    border-color: #6ea6dd;
    padding: 5px;
    font-size: 10pt;
    color: #ffffff;
}

h2 {
    font-weight: bolder;
    color: #4c76a0;
    line-height: 0.85;
    font-size: 2.7vmax;
}

section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none none solid none;
    border-width: 3px;
    border-color: #6ea6dd;
}

figure {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none none solid none;
    border-width: 3px;
    border-color: #6ea6dd;
    background-color: #8e364a;
    color: #ffffff;
}

h4 {
    font-style: italic;
}

#comentarios {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e69752;
}

#estadisticas {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e69752;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none none solid none;
    border-width: 3px;
    border-color: #6ea6dd;
}

#galeria {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row wrap;
    height: auto;
    padding-left: 5vmin;
    padding-right: 5vmin;
}

.card {
    width: 20vmax;
    height: auto;
    border-style: none;
    padding: 4px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.card a{
    color: #1d4370;

}

#left2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    Color: #4c76a0;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 6vw;
}

#right2 {
    background-color: #6ea6dd;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#right2 img {
    width: 100%;
    height: auto;
}

#left2 button {
    width: 60vmin;
    background-color: #4c76a0;
    border-radius: 15px;
    border-color: #6ea6dd;
    padding: 5px;
    font-size: 10pt;
    color: #ffffff;
}

footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: #4c76a0;
}

h5 {
    font-size: small;
    line-height: 0.8;
}

#textoizq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

#logomedio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

#logomedio img {
    width: auto;
}

#textodcha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: right;
}
